<section class="container mt-5">
    <h1 class="text-center text-muted">Modification de {{pokemon.name}}</h1>
    <h2 class="text-center "><img width="100" [src]="pokemon.picture" alt=""></h2>

    <div class="row">
        <div clas="col-md-6">
            <input type="text" class="form-control" placeholder="" id="name" [(ngModel)]="pokemon.name"><br>
        </div>
        <div clas="col-md-6">
            <input type="number" class="form-control" placeholder="" id="hp" [(ngModel)]="pokemon.hp"> <br>
            <input type="number" class="form-control" placeholder="" id="cp" [(ngModel)]="pokemon.cp"><br>
            <input type="text" class="form-control" placeholder="" id="type" [(ngModel)]="pokemon.type"><br>
            <input type="text" class="form-control" placeholder="" id="picture" [(ngModel)]="pokemon.picture">
        </div>
        <button class="btn btn-primary mt-5" (click)="validate()">Modifier</button>
    </div>
</section>